.container {
  align-items: center;
  width: 100%;
}

.flyerImage {
    display: block;
    padding-top: 15%;
    margin: 0 auto;
    max-width: 100vw;
    height: auto;
    width: 1000px;
    max-height: 400px;
  }